.container {
  display: flex;
  min-height: 100vh;
  background-color: #0f172a;
  color: white;
}

/* LEFT */
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 15%;
  padding-top: 20px;
  padding-bottom: 50px;
  border-right: 1px solid #334155;
  margin-left: 50px;
}

.logoBloc {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.userBottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.accountBloc {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profilPhoto {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #3b82f6;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}



.userName {
  font-size: 16px;
  font-weight: 700;
  color: #f5f6f7;
  margin: 0;
}

.accountName {
  font-size: 14px;
  color: #536471;
  margin: 0;
}

.logoutBtn {
  background-color: transparent;
  color: #f4f4f4;
  border: 1px solid #cfd9de;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 4px;
}

.logoutBtn:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

/* CENTER */
.mainContent {
  width: 55%;
  border-right: 1px solid #334155;
}

.publieContainer {
  padding: 20px;
  border-bottom: 1px solid #334155;
}

.inputStyle {
   margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 85%;
  background:rgba(255, 255, 255, 0.035);
  border: none;
  padding: 10px 0;
  border-radius: 500px;
  color: white;
   padding: 18px; 
}

.buttonLine {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.buttonStyle {
  background-color: #3b82f6;
  border: none;
  padding: 2px 30px;
  border-radius: 500px;
  color: white;
  cursor: pointer;
  font-size: 20px
}

.lastTweetsContainer {
  padding: 20px;
}

/* RIGHT */
.rightSection {
  width: 30%;
  padding: 20px;
}

.trendContainer {
  margin-top: 20px;
}
